<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769165278290-77rah97qsbsofgqcrh7n6mnaa1ojqs61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769165278290-77rah97qsbsofgqcrh7n6mnaa1ojqs61</string>
	<key>API_KEY</key>
	<string>AIzaSyAFHckVg9YhdnsEHniv7vp0z7TXnh-pQ7g</string>
	<key>GCM_SENDER_ID</key>
	<string>769165278290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.satariPos</string>
	<key>PROJECT_ID</key>
	<string>sataripos</string>
	<key>STORAGE_BUCKET</key>
	<string>sataripos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769165278290:ios:814985ab1826c980aeb38b</string>
</dict>
</plist>